<script type="text/javascript" src="/scripts/dropdown.js"></script>
<script type="text/javascript" src="/scripts/notifications.js"></script>
<hr>
<div class="content has-text-centered">
    <p>
        <strong>BDD</strong> de <a href="https://adgdev.me">ADG</a> © 2021 - <script type="text/javascript" async>
            document.write(new Date().getFullYear());
        </script>
        <br>
        Todos os direitos reservados.
        <br>
        <a href="//www.dmca.com/Protection/Status.aspx?ID=446f206b-1548-4443-9e9e-ca99c6841fee" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=446f206b-1548-4443-9e9e-ca99c6841fee"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        <br>
</div>