<script type="text/javascript" src="/scripts/dropdown.js"></script>
<script type="text/javascript" src="/scripts/notifications.js"></script>
<hr>
<div class="content has-text-centered">
    <p>
        <strong>BDD</strong> by <a href="https://adgdev.me">ADG</a> © 2022 - <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> — Todos os direitos reservados.
    </p>
    <br>
</div>