<script type="text/javascript" src="/scripts/dropdown.js"></script>
<script type="text/javascript" src="/scripts/notifications.js"></script>
<hr>
<div class="mx-auto container py-16 xl:px-20 lg:px-12 sm:px-6 px-4">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 gap-4">
        <div class="flex flex-col flex-shrink-0">
            <div class="dark:text-white">
                <h1 class="subtitle">Bots de Discord</h1>
            </div>
            <p class="text-sm leading-none mt-4">ADG © 2021 - <script type="text/javascript" async>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <p class="text-sm leading-none mt-4">All rights reserved</p>
            <br>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=446f206b-1548-4443-9e9e-ca99c6841fee" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-06.png?ID=446f206b-1548-4443-9e9e-ca99c6841fee" alt="DMCA.com Protection Status" /></a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            <div class="flex items-center gap-x-4 mt-12">
                <button aria-label="github" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 opacity-50 w-8 h-8 flex-shrink-0 bg-gray-800 cursor-pointer hover:bg-gray-700 rounded-full flex items-center justify-center">
                    <a href="https://github.com/botsddiscord">
                        <i style="color: white" class="fab fa-github"></i>
                    </a>
                </button>
                <button aria-label="discord" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 opacity-50 w-8 h-8 flex-shrink-0 bg-gray-800 cursor-pointer hover:bg-gray-700 rounded-full flex items-center justify-center">
                    <a href="/discord">
                        <i style="color: white" class="fab fa-discord"></i>
                    </a>
                </button>
            </div>
        </div>
        <div class="sm:ml-0 ml-8 flex flex-col">
            <h2 class="text-base font-semibold leading-4">Contact Us</h2>
            <a href="mailto:contato.bddiscord@gmail.com" class="focus:outline-none focus:underline hover:text-gray-500 text-base leading-4 mt-6 cursor-pointer">contato.bddiscord@gmail.com</a>
            <a href="https://discord.gg/zQ66hpZkwg" class="focus:outline-none focus:underline hover:text-gray-500 text-base leading-4 mt-6 cursor-pointer">Discord</a>
        </div>
        <div class="flex flex-col">
            <h2 class="text-base font-semibold leading-4">Links</h2>
            <a href="https://github.com/botsddiscord" class="focus:outline-none focus:underline hover:text-gray-500 text-base leading-4 mt-6 cursor-pointer">Github</a>
            <a href="https://github.com/botsddiscord/botsdediscord" class="focus:outline-none focus:underline hover:text-gray-500 text-base leading-4 mt-6 cursor-pointer">Open Source</a>
        </div>
    </div>
</div>