.darkmode--activated strong {
    color: white;
}
.navbar {
    background-color: #CAF0F8;
}
.darkmode--activated .navbar {
    background-color: #232323;
}
.avatar {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
.jumbotron {
    background-color: #23272A;
    color: #7289DA;
}
.hero-body {
    padding: 25px 50px 75px 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto !important;
}
.card {
    background-color: #CAF0F8;
    max-height: 250px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.darkmode--activated .card {
    background-color: #343434;
    color: white;
}
.botcard {
    background-color: #CAF0F8;
}
.darkmode--activated .botcard {
    background-color: #343434;
    color: white;
}
.darkmode--activated .box {
    background-color: #464646;
    color: white;
}
.darkmode--activated .navtitle {
    color: white;
}
.darkmode--activated .title {
    color: white;
}
.darkmode--activated .subtitle {
    color: white;
}
.select {
    border:0;
    background-color: #CAF0F8;
}