html {
    background-color: #ADE8F4;
}
.navbar {
    background-color: #CAF0F8;
}
.avatar {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
.jumbotron {
    background-color: #23272A;
    color: #7289DA;
}
.hero-body {
    padding: 25px 50px 75px 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto !important;
}
.card {
    background-color: #CAF0F8;
    max-height: 250px;
    height: 250px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.botcard {
    background-color: #CAF0F8;
}
.select {
    border:0;
    background-color: #CAF0F8;
}